/* Media */
@media screen and (max-width: 1140px) {
    .sidebar {
        left: -250px;
    }
    #home,
    #about,
    #resume,
    #portfolios,
    #blogs,
    #contact,
    #article {
        left: 0;
        width: 100%;
        padding-top: 100px;
    }
    #menu-bars {
        opacity: 1;
    }
}

@media screen and (max-width: 998px) {
    .blogs-comp {
        grid-gap: 20px;
    }
    .blogs-list {
        padding: 15px;
    }
}

@media screen and (max-width: 786px) {
    .about-component {
        margin-left: 100px;
    }
    .my-resume-date {
        width: 250px;
    }
    .my-skills-comp {
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
    }
    .blogs-comp {
        grid-gap: 15px;
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolio-container {
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 556px) {
    #about-title,
    #my-skills-title,
    #my-resume-title,
    #blogs-title,
    #home-title,
    #portfolios-title {
        width: 330px;
        font-size: 36px;
    }
    #about-title::after,
    #my-skills-title::after,
    #my-resume-title::after,
    #blogs-title::after,
    #home-title::after,
    #portfolios-title::after {
        bottom: -36px;
        font-size: 40px;
    }
    .about-component {
        margin-left: 0px;
        padding: 0px 20px;
    }

    .about-text {
        width: 100%;
        line-height: 1.3;
        font-size: 16px;
    }
    .about-component h2 {
        font-size: 26px;
    }
    .about-list {
        font-size: 15px;
        margin: 7px 0px;
    }
    .about-list span {
        width: 100px;
    }

    .my-resume-comp-title {
        font-size: 26px;
        margin-left: 0px;
    }
    .my-resume-list {
        display: block;
        position: relative;
    }
    .my-resume-list::after {
        content: "";
        width: 100%;
        height: 1px;
        bottom: -15px;
        position: absolute;
        background-color: #6b6b6b;
    }
    .my-resume-comp-title::before,
    .my-resume-comp-title::after,
    .my-resume-text::after,
    .my-resume-list:last-child:after {
        display: none;
    }
    .my-resume-date {
        font-size: 18px;
    }
    .my-resume-p {
        margin: 2px 0px;
        font-size: 16px;
    }
    .my-resume-lorem {
        font-size: 14px;
    }
    .portfolio-container {
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .article-title {
        font-size: 22px;
    }
    .article-text {
        font-size: 12px;
    }
}
